.reveal h1,
.reveal h2,
section.has-dark-background h3,
section.has-dark-background h2 {
  color: rgb(235, 86, 27);
  text-shadow: 2px 2px 5px red;
}

section.has-dark-background h5 {
  color: red;
  font-size: 70%;
}

.reveal h5 em {
  color: darkgray;
  font-size: 50%;
}

.reveal .slide-background-content {
  background-color: rgb(7, 7, 7);
}

.hljs-comment {
  color: rgb(18, 223, 18);
}

.hljs {
  color: #ffffff;
}

section.has-dark-background {
  color: #f26225;
}
.reveal{
  color: #ffffff;
}
/*สีพื้นหลัง*/
/*.reveal pre code,
.reveal pre code {
background-color:rgba(255, 255, 255, 0.76);
}*/
